body{
    font-family: Helvetica, sans-serif;
    background-color: white;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin:0;
    min-height: 100vh;
}


.form-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em;
    color:darkgoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.application-form{
    background: rgba(6,77,86,10);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    color: white;

}

.form-row{
    margin-bottom: 25px;
}

.input-field{
    width: 100%;
    padding:12px;
    margin-top: 5px;
    border:none;
    border-radius: 5px;
    box-sizing: border-box;

}


.radio input,
.checkbox-input{
    margin-right: 10px;
}

.form-actions{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
}

.btn{
    width: 48% ;
    padding:12px ;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color:white;
    font-size: 16px;
    cursor:pointer;

}


.submit-btn:hover,
.reset-btn:hover{
    background-color:orangered;
}


@media(max-width :600px){
    .application-form{
        width: 90%;
        padding: 20px;
    }

    .btn{
        width:100px;
        margin-top: 10px;

    }

}

@media (max-width: 400px){
    .form-title{
        font-size: 14px; 
    }
    .btn{
        font-size: 14px;
        padding:8px;
    }
}